.feedback-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 2rem;
  }
  
  .content {
    background-color: white;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-left: 10rem;
  }
  
  .title {
    font-size: 4rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
    margin: 3rem 0 3rem 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: normal;
  }
  
  .textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .submit-button {
    background-color: #FFB975;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #fecc99;
  }