.numbers-component {
  text-align: center;
  padding: 4rem;
  background-color: #07073b;
  color: white;
  

}

.numbers {
  display: flex;
  justify-content: space-between;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  color: rgba(255, 166, 0, 0.767);
  font-weight: bold;
}

.number span {
  font-size: 1rem;
  color: #999;
}

.numbers-how{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 1rem;
}

.numb{
  font-size: 30px;
}